.pedalContainer {
    input {
        margin-bottom: .5em;
    }
}

.pedal {
    width: 10rem;
    height: 15rem;
    border-radius: 5px;
    background-color: var(--pedalColor, rgb(153, 153, 153));
    padding: 1em;

    h1 {
        text-align: center;
        margin: .2em 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}