:root {
  --rotate: -135;
}

.knobContainer {
  width: 3em;
  height: 3em;
}

.knob {
  display: flex;
  margin: 0 auto;
  margin-bottom: 0.2em;
  background-color: black;
  width: 2.5em;
  height: 2.5em;
  border-radius: 30px;
  position: relative;
  transform: rotate(calc(var(--rotate) * 1deg));
}

.pointer {
  background-color: white;
  width: 4px;
  height: 15px;
  position: absolute;
  right: 45%;
}

.value {
  display: flex;
  width: 20px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.value:hover {
  border: 1px solid black;
  border-radius: 0.3em;
}
